<div class="gototop js-top">
	<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>

<!-- jQuery -->
<script src="/parisdexil/ressources/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="/parisdexil/ressources/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="/parisdexil/ressources/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="/parisdexil/ressources/js/jquery.waypoints.min.js"></script>
<!-- Carousel -->
<script src="/parisdexil/ressources/js/owl.carousel.min.js"></script>
<!-- countTo -->
<script src="/parisdexil/ressources/js/jquery.countTo.js"></script>
<!-- Magnific Popup -->
<script src="/parisdexil/ressources/js/jquery.magnific-popup.min.js"></script>
<script src="/parisdexil/ressources/js/magnific-popup-options.js"></script>
<!-- Main -->
<script src="/parisdexil/ressources/js/main.js"></script>
<!-- Formulaire -->
<script src="/parisdexil/ressources/js/formulaire.js"></script>
</body>
</html>