

{% extends "layout.html.twig" %}

{% block title %} Ajouter un Hébergeur {% endblock %}


{% block body %}

	<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(images/img_4.jpg)">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-left">
					

					<div class="row row-mt-15em">

						<div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
							<span class="intro-text-small"></span>
							<h1>Ajout d'un Hébergeur</h1>	
						</div>
						
					</div>
							
					
				</div>
			</div>
		</div>
	</header>
	
	
	<div class="gtco-section">
		<div>
			<form class="form" method="post">
				<label>Informations Personnelles</label>
				<hr>
				<div class="form-group">
					<div class="form-row">
						<div class="form-group col-md-5 col-md-offset-5">
							<label>Photo</label>
							<div class="row">
  								<div class="col-md-5 imgUp">
    								<div class="imagePreview"></div>
									<label class="btn btn-primary">Upload<input type="file" class="uploadFile img" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;">
									</label>
								</div><!-- col-2 -->
								<i class="fas fa-times imgSup"></i>
							</div><!-- row -->
						</div>
					</div>
					<br>
					<div class="form-row">
						<div class="form-group col-md-5">
							<label for="nom">Nom <span class="obligatoire">*</span></label>
							<input type="text" class="form-control" id="nom">
						</div>

						<div class="form-group col-md-5">
							<label for="prenom">Prénom <span class="obligatoire">*</span></label>
							<input type="text" class="form-control" id="prenom">
						</div>
						<div class="form-group col-md-2">
							<label for="Genre">Genre <span class="obligatoire">*</span></label>
							<select id="Genre" class="form-control">
								<option selected>Choisir ...</option>
								<option>Masculin</option>
								<option>Féminin</option>
							</select>
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-md-4">
							<label for="tel">Téléphone <span class="obligatoire">*</span></label>
							<input type="tel" class="form-control" id="tel">
						</div>

						<div class="form-group col-md-8">
							<label for="autrecontact">Autre Contact (si pas de téléphone) <span class="obligatoire">*</span></label>
							<input type="text" class="form-control" id="autrecontact">
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-md-7">
							<label for="adresse">Adresse</label>
							<input type="text" class="form-control" id="adresse" >
						</div>
						<div class="form-group col-md-3">
							<label for="ville">Ville <span class="obligatoire">*</span></label>
							<input type="text" class="form-control" id="ville">
						</div>
						<div class="form-group col-md-2">
							<label for="codepostal">Code Postal</label>
							<input type="text" class="form-control" id="codepostal">
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-md-12">
							<label for="description">Description</label>
							<textarea id="description" class="form-control" name="description" rows="5" ></textarea>
						</div>
					</div>

					<br>
					<div class="form-row">
						<div class="form-group col-md-3">
							<label>Donne la clé ou pas <span class="obligatoire">*</span></label>
							<hr>
							<div class="form-check">
							  	<input class="form-check-input position-static" type="radio" name="cle" id="cle" value="Donne la clé" checked>
							  	<label class="form-check-label" for="cle">
							    	Donne la clé
							  	</label>
							</div>
							<div class="form-check">
							  	<input class="form-check-input position-static" type="radio" name="cle" id="noncle" value="Ne donne pas la clé">
							  	<label class="form-check-label" for="noncle">
							    	Ne donne pas la clé
							  	</label>
							</div>
						</div>

						<div class="form-group col-md-1"></div>

						<div class="form-group col-md-4">
							<label>Acceuille qui ? <span class="obligatoire">*</span></label>
							<hr>
							<div class="form-check">
							  	<input class="form-check-input position-static" type="radio" name="genre" id="fille" value="Fille" checked>
							  	<label class="form-check-label" for="fille">
							    	Accueille que des filles
							  	</label>
							</div>
							<div class="form-check">
							  	<input class="form-check-input position-static" type="radio" name="genre" id="garçon" value="Garçon">
							  	<label class="form-check-label" for="garçon">
							    	Accueille que des garçons
							  	</label>
							</div>
							<div class="form-check">
							  	<input class="form-check-input position-static" type="radio" name="genre" id="jeunes" value="Jeunes Autonomes">
							  	<label class="form-check-label" for="jeunes">
							    	Accueille que les jeunes autonomes
							  	</label>
							</div>
							<div class="form-check">
							  	<input class="form-check-input position-static" type="radio" name="genre" id="pasdepreference" value="Pas de préférence">
							  	<label class="form-check-label" for="pasdepreference">
							    	Pas de préférence
							  	</label>
							</div>
						</div>

						<div class="form-group col-md-1"></div>

						<div class="form-group col-md-3">
							<label>Hébergement <span class="obligatoire">*</span></label>
							<hr>
							<div class="form-check">
							  	<input class="form-check-input position-static" type="radio" name="habitat" id="foyer" value="Héberge dans le foyer" checked>
							  	<label class="form-check-label" for="foyer">
							    	Héberge dans le foyer
							  	</label>
							</div>
							<div class="form-check">
							  	<input class="form-check-input position-static" type="radio" name="habitat" id="pret" value="Prêt d'appartement">
							  	<label class="form-check-label" for="pret">
							    	Prêt d'appartement
							  	</label>
							</div>
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-md-5">
							<label for="datearrivee">Date d'arrivée <span class="obligatoire">*</span></label>
							<input type="date" class="form-control" id="datearrivee">
						</div>
					</div>
					<br>
					<label>Disponibilités</label>
					<hr>
					<div class="form-group" id="periode">
						<div class="form-row">
							<div class="form-group col-md-2">
								<div class="btn" id="ajoutPeriode">Ajouter une période</div>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-5">
								<label for="datededebut">Date début</label>
								<input type="date" class="form-control" name="datededebut" id="datededebut">
							</div>

							<div class="form-group col-md-5">
								<label for="datedefin">Date de fin</label>
								<input type="date" class="form-control" name="datedefin" id="datedefin">
							</div>
							<div class="form-group col-md-1">
								<br>
								<i class="fas fa-times fa-2x" id="suppPer"></i>
							</div>
							
						</div>
					</div>
				</div>
				<br>

				<label>Informations Supplémentaires</label>
				<hr>
				<div class="form-group">
					<div class="form-row">
						<div class="form-group col-md-12">
							<label for="remarque">Remarques</label>
							<textarea id="remarque" class="form-control" name="remarque" rows="5" ></textarea>
						</div>
					</div>
					
				  	
			  	</div>

			  	<br>
			  	<div class="form-row">
					<button type="submit" class="btn btn-primary">Ajouter</button>
				</div>
			</form>
		</div>
	</div>

{% endblock %}