
{% extends "layout.html.twig" %}

{% block title %} Informations Jeune {% endblock %}


{% block body %}

    <header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(images/img_4.jpg)">
        <div class="overlay"></div>
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-12 col-md-offset-0 text-left">

                    <div class="row row-mt-15em">

                        <div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
                            <span class="intro-text-small">Informations</span>
                            <h1>Nom Prenom</h1>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </header>

    <div id="gtco-features" class="border-bottom">
        <div class="gtco-container">
            <div class="row">
                <div class="col-6 col-md-4">
                    <form class="text-center" role="search">

                    </form>
                </div>
            </div>

            <div class="info">

                <div class="row">
                    <div class="col-sm">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
										<!-- <i class="ti-vector"></i> -->
										<img src="images/img_1.jpg" height="200" width="175"/>
									</span>
                            <h3>Prénom Nom</h3>
                            <p>
                                <ul class="text-left">
                                    <li>Age : <span>{{ age }}</span> </li>
                                    <li>Sexe : <span>{{ genre }}</span> </li>
                                    <li>Téléphone : <span>{{ tel }}</span> </li>
                                    <li>Autre Contact : <span> {{ autreContact }}</span> </li>
                                    <li>Description : <span>{{ description }}</span> </li>
                                    <li>Autonome : <span>{{ autonome }}</span> </li>
                                    <li>Remarque : <span>{{ remarque }}</span> </li>

                                </ul>
                            </p>
                            <hr>
                            <li> Historique Transfert </li>
                            <ul class="text-left">
                                <li>Date : <span>15/09/2019</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nom Hébergeur : <span>David</span></li>
                                <li>Date : <span>25/09/2019</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nom Hébergeur : <span>Yasmine</span></li>
                                <li>Date : <span>25/10/2019</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nom Hébergeur : <span>Ines</span></li>
                                <li>Date : <span>26/10/2019</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nom Hébergeur : <span>Jordan</span></li>
                                <li>Date : <span>02/11/2019</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nom Hébergeur : <span>Brigitte</span></li>

                            </ul>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}