

{% extends "layout.html.twig" %}

{% block title %} Informations Bénévole {% endblock %}


{% block body %}

	<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(images/img_4.jpg)">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-left">
					

					<div class="row row-mt-15em">

						<div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
							<span class="intro-text-small">Informations Bénévole</span>
							<h1>{{ nom }}</h1>	
						</div>
						
					</div>
							
					
				</div>
			</div>
		</div>
	</header>
	
	
	<div id="gtco-features" class="border-bottom">
		<div class="gtco-container">
			<div class="info">
				<div class="row">
					<div class="col-sm">
						<div class="feature-center animate-box" data-animate-effect="fadeIn">
							<span class="icon">
								<img src="images/no-image.jpg" height="200" width="175"/>
							</span>
							<h3>{{ nom }}</h3>
							<p>
								<ul class="text-left">
									
								
									<li>Genre : <span>{{ genre }}</span> </li>
									<li>Télephone : <span>{{ tel }}</span> </li>
									<li>Autre Contact : <span>{{ autrecontact }}</span> </li>
									<li>Adresse : <span>{{ adresse }}</span></li>
									<li>Ville : <span>{{ ville }}</span></li>
									<li>Code Postal : <span> {{ codePostal }}</span></li>
									<li>Description : <span>{{ description }}</span> </li>
									<li>Donne Cle : <span>{{ donneCle }}</span> </li>
									<li>Type Acceuil : <span>{{ typeAcceuil }}</span> </li>
									<li>Type d'hébergement : <span>{{ typeHebergement }}</span> </li>
									<li>Date d'arriver : <span>{{ dateArrivee }}</span> </li>
									<li>Disponibilités : <span>{{ disponibilite }}</span> </li>
									<li>Date Début : <span>{{ dateDebut }}</span> </li>
									<li>Date Fin : <span>{{ dateFin }}</span> </li>
									<li>Remarque : <span>{{ remarque }}</span> </li>

								</ul>
							</p>
							<hr>
							<div class="form-row">
								<p class="col-sm-6 "><a href="{{ path('modifbenevole') }}" class="btn btn-default btn-block">Modifier</a></p>
								<p class="col-md-6 	"><a href="{{ path('suppbenevole') }}" class="btn btn-danger btn-block">Supprimer</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}