

{% extends "layout.html.twig" %}

{% block title %} Informations Hébergeur {% endblock %}


{% block body %}

	<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(images/img_4.jpg)">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-left">
					

					<div class="row row-mt-15em">

						<div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
							<span class="intro-text-small">Informations Hébergeur</span>
							<h1>Nom Prenom</h1>	
						</div>
						
					</div>
							
					
				</div>
			</div>
		</div>
	</header>
	
	
	<div id="gtco-features" class="border-bottom">
		<div class="gtco-container">
			<div class="row">
					<div class="col-6 col-md-4">
					    <form class="text-center" role="search"> 
						   
					    </form> 
			    </div>
			</div>
			
			<div class="info">
				<div class="row">
					<div class="col-sm">
						<div class="feature-center animate-box" data-animate-effect="fadeIn">
							<span class="icon">
								<!-- <i class="ti-vector"></i> -->
								<img src="images/img_1.jpg" height="200" width="175"/>
							</span>
							<h3>Prénom Nom</h3>
							<p>
								<ul class="text-left">
									
								
									<li>Genre : <span>Homme</span> </li>
									<li>Télephone : <span> 06 50 11 57 98</span> </li>
									<li>Contact : <span> Blablasa</span> </li>
									<li>Autre Contact : <span>Non</span> </li>
									<li>Adresse : <span>14 av Louis Bordes</span> Ville : <span> Stains</span> Code Postal : <span> 93240</span></li>
									
									<li>Description : <span>Je suis un jeune homme de vingt-quatre ans, je mesure un mettre soixante-dix-neuf et je ne suis ni gros ni maigre.
									J'ai le visage rectangulaire, le nez arqué, le front droit et les joues saillantes avec de grandes oreilles et un menton saillant. 
									J'ai le teint mat, la peau blanche et grasse, les cheveux bruns foncés et la mine fraîche avec des lèvres charnues et des dents blanches.
									Le regard vive, le sourire mignon avec des yeux bridés, paupières tombantes, sourcils épais et cils fins.
									La description morale:
									Pour les qualités:
									Je suis curieux, ambitieux, loyal et calme.
									Pour les défauts:
									Je suis peureux, impatient, minutieux et superstitieux.</span> </li>
									<li>Donne Cle : <span> Non</span> </li>
									<li>Type Acceuill : <span>fille</span> </li>
									<li>Type d'hébergement : <span> Foyer</span> </li>
									<li>Date d'arriver : <span>21/06/2016</span> </li>
									<li>Disponibilités : <span>Vendredi/Samedi/Dimanche</span> </li>
									<li>Date Début : <span>21/07/2018</span> </li>
									<li>Date Fin : <span>13/06/2019</span> </li>
									<li>Remarque : <span>Je cuisine bien, J'aime le foot</span> </li>

								</ul>
							</p>
							<hr>
							<li> Historique Transfert </li>
							<ul class="text-left">
									<li>Date : <span>15/09/2019</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nom Hébergeur : <span>David</span></li>
									<li>Date : <span>25/09/2019</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nom Hébergeur : <span>Yasmine</span></li>
									<li>Date : <span>25/10/2019</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nom Hébergeur : <span>Ines</span></li>
									<li>Date : <span>26/10/2019</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nom Hébergeur : <span>Jordan</span></li>
									<li>Date : <span>02/11/2019</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nom Hébergeur : <span>Brigitte</span></li>
									

								</ul>
							<hr>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}