<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{% block title %}{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="ParisD'Exil" />
		<meta property="og:title" content=""/>
		<meta property="og:image" content=""/>
		<meta property="og:url" content=""/>
		<meta property="og:site_name" content=""/>
		<meta property="og:description" content=""/>
		<meta name="twitter:title" content="" />
		<meta name="twitter:image" content="" />
		<meta name="twitter:url" content="" />
		<meta name="twitter:card" content="" />

		<link href="{{asset('https://fonts.googleapis.com/css?family=Roboto:300,400,700')}}" rel="stylesheet">
		
		<!-- Animate.css -->
		<link rel="stylesheet" href="{{asset('css/animate.css')}}">
		<!-- Icomoon Icon Fonts-->
		<link rel="stylesheet" href="{{asset('css/icomoon.css')}}">
		<!-- Themify Icons-->
		<link rel="stylesheet" href="{{asset('css/themify-icons.css')}}">
		<!-- Bootstrap  -->
		<link rel="stylesheet" href="{{asset('css/bootstrap.css')}}">

		<link rel="stylesheet" href="{{asset('css/bootstrap2.css')}}">
		<!-- Font Awesome -->

		<link rel="stylesheet" href="{{asset('https://use.fontawesome.com/releases/v5.7.2/css/all.css')}}" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

		<!-- Magnific Popup -->
		<link rel="stylesheet" href="{{asset('css/magnific-popup.css')}}">

		<!-- Owl Carousel  -->
		<link rel="stylesheet" href="{{asset('css/owl.carousel.min.css')}}">
		<link rel="stylesheet" href="{{asset('css/owl.theme.default.min.css')}}">

		<!-- Theme style  -->
		<link rel="stylesheet" href="{{asset('css/style.css')}}">

		<!-- Modernizr JS -->
		<script src="{{asset('js/modernizr-2.6.2.min.js')}}"></script>
		<!-- FOR IE9 below -->
		<!--[if lt IE 9]>
		<script src="js/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="gtco-loader"></div>

		<div id="page">
		    <div class="page-inner">
		        <nav class="gtco-nav" role="navigation">
		            <div class="gtco-container">

		                <div class="row">
		                    <div class="col-sm-4 col-xs-12">
		                        <div id="gtco-logo"><a href="{{ path('accueil') }}">Paris D'Exil<em>.</em></a></div>
		                    </div>
		                    <div class="col-xs-8 text-right menu-1">
		                        <ul>
		                            <li><a href="{{ path('jeunes') }}">Jeunes</a></li>
		                            <li><a href="{{ path('hebergeurs') }}">Hébergeurs</a></li>
		                            <li><a href="{{ path('transferts') }}">Transferts</a></li>
		                            <li><a href="{{ path('connexion') }}"><i class="fas fa-sign-out-alt"></i></a></li>
		                        </ul>
		                    </div>
		                </div>

		            </div>
		        </nav>

		{% block body %} {% endblock %}

		<div class="gototop js-top">
			<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
		</div>
		
		<!-- jQuery -->
		<script src="{{asset('js/jquery.min.js')}}"></script>
		<!-- jQuery Easing -->
		<script src="{{asset('js/jquery.easing.1.3.js')}}"></script>
		<!-- Bootstrap -->
		<script src="{{asset('js/bootstrap.min.js')}}"></script>
		<!-- Waypoints -->
		<script src="{{asset('js/jquery.waypoints.min.js')}}"></script>
		<!-- Carousel -->
		<script src="{{asset('js/owl.carousel.min.js')}}"></script>
		<!-- countTo -->
		<script src="{{asset('js/jquery.countTo.js')}}"></script>
		<!-- Magnific Popup -->
		<script src="{{asset('js/jquery.magnific-popup.min.js')}}"></script>
		<script src="{{asset('js/magnific-popup-options.js')}}"></script>
		<!-- Main -->
		<script src="{{asset('js/main.js')}}"></script>

	</body>
</html>

