

{% extends "layout.html.twig" %}

{% block title %} Transferts {% endblock %}


{% block body %}

	<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(images/transf.jpg)">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-left">
					

					<div class="row row-mt-15em">

						<div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
							<span class="intro-text-small">Transferts</span>
							<h1>Les transferts</h1>	
						</div>
						
					</div>
							
					
				</div>
			</div>
		</div>
	</header>
	
	
	<div id="gtco-features" class="border-bottom">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8">
					<p><a href="{{ path('ajouttransfert') }}" class="btn btn-default btn-block">Nouveau tranfert</a></p>
				</div>
				<div class="col-6 col-md-4">
					    <form class="text-center" role="search"> 
						    <div class="form-inline"> 
						    	<input type="text" class="form-control mr-sm-2" placeholder="Search" /> 
						     	<span class="input-group-btn"> 
						      		<button type="button" class="btn btn-outline my-2 my-sm-0"><i class="fas fa-search"></i></button> 
						     	</span> 
						    </div> 
					    </form> 
			    </div>
			</div>
			
			<div class="transfert">
				<a href="" >
					<div class="row">
						<div class="col-sm">
							<div class="feature-center animate-box" data-animate-effect="fadeIn">
								<span class="icon">
									<img src="images/img_1.jpg" height="200" width="175"/>
								</span>
								<h3>Prénom Nom</h3>
								<p>
									<ul class="text-left">
										<li>Age : <span>15 ans</span> </li>
										<li>Date d'arrivée : <span>10/03/2019</span></li>
									</ul>
								</p>
								<hr>
								<span class="badge badge-secondary">Tags</span>
								<span class="badge badge-success">Tags</span>
								<span class="badge badge-light">Tags</span>
								<hr>
							</div>
						</div>
						<div class="col-sm">
							<div class="feature-center animate-box" data-animate-effect="fadeIn">
								<span class="icon">
									<i class="fas fa-exchange-alt fa-7x" style="height: 200px;width: 175px"></i>
								</span>
								<p>
									<ul class="text-left">
										<li>Date de début : </li>
										<li>Date de fin : </li>
									</ul>
								</p>
							</div>
						</div>
						<div class="col-sm">
							<div class="feature-center animate-box" data-animate-effect="fadeIn">
								<span class="icon">
									<img src="images/img_1.jpg" height="200" width="175"/>
								</span>
								<h3>Prénom Nom</h3>
								<p>
									<ul class="text-left">
										<li>Age : <span>25 ans</span> </li>
										<li>Date d'arrivée : <span>10/03/2019</span></li>
									</ul>
								</p>
								<hr>
								<span class="badge badge-secondary">Tags</span>
								<span class="badge badge-success">Tags</span>
								<span class="badge badge-light">Tags</span>
								<hr>
							</div>
						</div>
					</div>
				</a>
			</div>

			<hr>

			<nav aria-label="Page navigation example" class="col-lg-6 offset-lg-3 py-5">
			  	<ul class="pagination">
			    	<li class="page-item disabled">
				      	<a class="page-link" href="#" aria-label="Previous">
				        	<span aria-hidden="true">&laquo;</span>
				      	</a>
			   		</li>
				    <li class="page-item active"><a class="page-link" href="#">1</a></li>
				    <li class="page-item"><a class="page-link" href="#">2</a></li>
				    <li class="page-item"><a class="page-link" href="#">3</a></li>
				    <li class="page-item">
					    <a class="page-link" href="#" aria-label="Next">
					    	<span aria-hidden="true">&raquo;</span>
					    </a>
			    	</li>
			  	</ul>
			</nav>
		</div>
	</div>

{% endblock %}

